<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>
        <form action=""></form>
        <input type="radio" id="html" name="fav_language" value="HTML">
        <label for="Fahrenheit">Fahrenheit</label><br>
        <input type="radio" id="Celsius" name="fav_language" value="HTML">
        <label for="Celsius ">Celsius</label><br>
        <input type="radio" id="Kelvin" name="fav_language" value="HTML">
        <label for="Kelvin ">Kelvin</label><br>
        <p><input type = "submit" value = "submit" /></p>
    </body>
</html>